* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #1f2937;
  --white-color: #f9faf8;
  --light-grey-color: #e5e7eb;
  --blue-color: #3882f6;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 12px 36px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 200px;
  background-color: var(--dark-color);
}
.header-logo {
  height: 150px;
  width: 150px;
}

.header-logo img {
  border-radius: 12px;
  margin-top: 15px;
}

.header-links a {
  margin: 0 12px;
  font-size: 18px;
}

/* Hero section */
.hero-container {
  display: flex;
  background: var(--dark-color);
  gap: 200px;
  padding: 75px 200px 125px;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.hero-left h1 {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
}

.hero-left p {
  color: var(--light-grey-color);
  font-size: 18px;
}

.hero-button {
  width: 150px;
  margin-top: 8px;
}

.hero-right img {
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.6);
}

/* Card section */
.info {
  padding: 50px 100px 100px;
  background: var(--white-color);
}

.info-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-color);
  margin-bottom: 16px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}
.info-item {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.info-item img {
  border: 5px solid var(--blue-color);
  border-radius: 20px;
  margin-bottom: 8px;
}

.info-text {
  text-align: center;
  color: #4b5563;
}

/* Quote section */

.quote {
  background: var(--light-grey-color);
  font-size: 36px;
  font-weight: 200;
  color: var(--dark-color);
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 500px;
  text-align: left;
}

.quote-container p.alone {
  margin-left: 600px;
  font-weight: 400;
}

/* CTA section */
.call {
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-sm {
  display: flex;
  background: var(--blue-color);
  border-radius: 15px;
  color: var(--white-color);
  padding: 52px 100px;
  margin: 100px;
}

.call-text {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.call-text p {
  font-size: 18px;
}

button.action {
  width: 150px;
  margin-top: 8px;
  border: 2px solid var(--light-grey-color);
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  font-size: 18px;
  padding: 36px;
}
