* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #1f2937;
  --white-color: #f9faf8;
  --light-grey-color: #e5e7eb;
  --blue-color: #3882f6;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 12px 36px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 200px;
  background-color: var(--dark-color);
  
}
.header-logo {
  height: 150px;
  width: 150px;
}

.header-logo img {
  border-radius: 12px;
  margin-top: 15px;
}

.header-links a {
  margin: 0 12px;
  font-size: 18px;
}



/* Hero section */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: var(--dark-color);
  gap: 200px;
  padding: 8px 200px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  
  
}

.hero-left h1 {
  color: var(--white-color);
  font-size: 48px;
  font-weight: 900;
}

.hero-left p {
  color: var(--light-grey-color);
  font-size: 18px;
}

.hero-button {
 width: 150px;
 margin-top: 8px;
}

.hero-right img {
  box-shadow: 1px 1px 6px  rgba(255, 255, 255, 0.6);
}

/* Card section */
/* Quote section */
/* CTA section */
/* Footer */
